@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
* { box-sizing: border-box; }

body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #434F75;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #B2C2F5;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
}
.nav {
	background: #F5EBB3;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
  background: #EEEEEE;
  padding: 15px;
}

.content img {
  max-width: 100%;
  height: auto;
  display: block;
}
.footer {
	background: #756E43;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #434F75;
}
a:visited {
     color: #434F75;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
